.main-nav{
    height: 68px;
    color: #000000;
    align-items: center;
    padding-left: 49px;
    margin-left: 0;
    margin-right: 0;
}

.nav-logo-text{
    color: #000000;
    text-decoration: none;
}