.home-container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 60px 120px;
  }

 .home-content{
   width: 397px;
   height: 460px;
   left: 70px;
   top: 149px;
   
 } 

.home-title{
    width: 370px;
    font-size: 48px;
    margin-left: 9px;
    margin-top: 20px;
    margin-right: 950px;
} 

.home-subTitle{
   width: 320px;
   font-size: 22px;
   font-weight: normal;
   margin-left: 9px;
   margin-top: 20px;
   font-style: normal;
   letter-spacing: -0.015em;
   color: #F2F2F2;
}

.home-image{
   padding-top: 30px;
   margin-bottom: 0px;
   width: 500px;
   height: 320px;
   margin-left: -20px;
}